!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= [@item[:title], "Alexander Danilenko"].compact.join(" - ")
    = stylesheet_link_tag "application", "bootstrap-responsive"
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "/javascripts/bootstrap-collapse.js"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "alternate", type: "application/rss+xml", title: "Danilenko.org", href: "http://danilenko.org/feed.xml"}
    = render "vendor/google_analytics"
  %body
    .navbar
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}}
            %i.icon-bar
            %i.icon-bar
            %i.icon-bar
          %a.brand{href: "/"} Alexander Danilenko
          .nav-collapse
            %ul.nav
              %li= link_to("Blog", "/")
              %li= link_to("Contacts", "/contacts/")
    .container-fluid
      .row-fluid
        .span9
          - if @item[:title] && !@item[:hide_title]
            .page-header
              %h1= @item[:title]
              - if @item[:subtitle]
                %h2.subtitle= @item[:subtitle]
              = render "post_info", post: @item
          = yield
        .span3
          .well.sidebar-about
            .nav
              .nav-header About Author
            %img{src: "/images/danilenko.png", alt: "Alexander Danilenko", width: "80", height: "80"}
            %p
              Alexander is CTO at
              = link_to("Toptal", "http://www.toptal.com")
              with more than 10 years experience in professional software development
              passionately working with Ruby on Rails since 2007.
          - if blog?
            .well.sidebar-nav
              %ul.nav.nav-list
                %li.nav-header Blog Posts
                - @site.sorted_articles.each do |post|
                  %li= link_to post[:title], post.path
                %li.toptal
                  For more high-quality posts check out
                  %a{href: "http://www.toptal.com/blog"} blog at toptal.com
      %hr/
      %footer
        %p.footer-social
          = link_to('<i class="icon-envelope"></i>', "/contacts/", title: "Contacts")
          = link_to('<i class="icon-linkedin"></i>', "http://www.linkedin.com/pub/alexander-danilenko/33/442/552", title: "Linkedin")
          = link_to('<i class="icon-facebook"></i>', "https://www.facebook.com/alexander.danilenko", title: "Facebook")
          = link_to('<i class="icon-github"></i>', "https://github.com/doz", title: "github")
        %p &copy; 2012-2014 Alexander Danilenko
    - if blog?
      = render "vendor/disqus_count"